@import url('https://fonts.googleapis.com/css2?family=Kodchasan:wght@400;700&family=Lexend:wght@100..900&family=Manjari:wght@100;400;700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

html{
     height: 100%;
    margin: 0;
    padding: 0;
    transition: background 2s ease;
}

body{
    color: white;
    font-family: lexend;
    margin: 0;
    padding: 0;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 35px);
}
.caixa{
    background-color: rgb(0, 0, 0, 0.5);
    width: 400px;
    padding: 40px;
    border-radius: 60px;
    text-align: center;
}
#mapa{
    color: white;
    border-radius: 20px;
    padding: 10px;
    width: 100%;
    height: 50px;
    font-size: large;
    font-family: lexend;
    border: 0;
    margin-top: 20px;
    transition: 1s;
}
#mapa:hover{
    background-color: white;
    transition: 1s;
}


#temp{
    font-size: xxx-large;
}
.infos{
    display: flex;
    justify-content: space-around;
}
#atributos{
    display: none;
}
marquee{
    font-size: x-large;
}
input{
    width: 275px;
    margin: 0;
    height: 30px;
    border-radius: 20px 0 0 20px;
    border: 0px;
    padding: 10px;
    font-size: large;
    font-family: lexend;
}
#enviar{
    color: white;
    width: 100px;
    margin: 0;
    height: 50px;
    border-radius: 0 20px 20px 0;
    border: 0px;
    padding: 10px;
    font-size: large;
    font-family: lexend;
    transition: 1s;
}
#enviar:hover{
    transition: 1s;
    background-color: white;
}

.cedo{
    background-color: #45d3f0;
    background-image: linear-gradient(0deg, #fddb6b 0%, #45d3f0 100%);
}
.cor_cedo{
    background-color: #45d3f0;
}
.cor_cedo:hover{
    color: #45d3f0 !important;
    border: solid 1px #45d3f0 !important;
}

.manha{
    background-color: #00c2e9;
    background-image: linear-gradient(0deg, #00c2e9 0%, #7fccdb 100%);
}
.cor_manha{
    background-color: #00c2e9;
}
.cor_manha:hover{
    color: #00c2e9 !important;
    border: solid 1px #00c2e9 !important;
}

.tarde{
    background-color: #ffec41;
    background-image: linear-gradient(0deg, #ffec41 0%, #e28102 100%);
}
.cor_tarde{
    background-color: #e28102;
}
.cor_tarde:hover{
    color: #e28102 !important;
    border: solid 1px #e28102 !important;
}

.entardecer{
    background-color: #e28102;
    background-image: linear-gradient(0deg, #e28102 0%, #c240e2 100%);
}
.cor_entardecer{
    background-color: #c240e2;
}
.cor_entardecer:hover{
    color: #c240e2 !important;
    border: solid 1px #c240e2 !important;
}

.noite{
    background-color: #0080e9;
    background-image: linear-gradient(0deg, #0080e9 0%, #000f8f 100%);
}
.cor_noite{
        background-color: #0080e9;
}
.cor_noite:hover{
    color: #0080e9 !important;
    border: solid 1px #0080e9 !important;
}

.madrugada{
    background-color: #21213a;
    background-image: linear-gradient(0deg, #21213a 0%, #020011 100%);
}
.cor_madrugada{
    background-color: #4f4f7c;
}
.cor_madrugada:hover{
    color: #4f4f7c !important;
    border: solid 1px #4f4f7c !important;

}
