body{
    margin: 0 auto;
    color: white;
    background-color: #00c2e9;
    background-image: linear-gradient(90deg, #00c2e9 0%, #60cbb8 100%);
    height: max-content;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 250px;
}
.caixa{
    background-color: rgb(0, 0, 0, 0.5);
    width: 400px;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
}
#mapa{
    border: solid 1px rgb(10, 95, 180);
    background-color: rgb(46, 192, 255);
    color: white;
    border-radius: 15px;
    padding: 10px;
    width: 100%;
}
#mapa:hover{
    border: solid 1px gray;
    background-color: white;
    color: rgb(46, 192, 255);
    transition: 1s;
}

.enviar{
    border: solid 1px rgb(10, 95, 180);
    background-color: rgb(46, 192, 255);
    color: white;
}
.enviar:hover{
    border: solid 1px gray;
    background-color: white;
    color: rgb(46, 192, 255);
    transition: 1s;
}
#temp{
    font-size: xxx-large;
}
.infos{
    display: flex;
    justify-content: space-around;
}
